* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    justify-content: space-between;
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* margin-left: 40vw; */
    background: url('1.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    margin-right: 20%;
    background: transparent;
    border: 2px solid rgba(255, 255, 2555, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 1% 4% 1% 4%;
}

.wrapper h1 {
    font-size: 2vw;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 110%;
    height: 100%;
    margin: 15% 0 15% -5%;
}

.input-box input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 0.8vw;
    color: #fff;
    padding: 6% 15% 6% 2%;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100%;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 0.7vw;
    margin: 10% -6% 10% -6%;
}

.remember-forgot label input {
    accent-color: #fff;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 20px 0 15px;
}

.ustj {
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.ustj img {
    width: 15vw;
    height: auto;
    margin-left: 35%;
}

.ustj h1 {
    text-align: center;
    font-size: 2vw;
    color: #fff;
    padding-right: 10%;
    padding-left: 10%;
}

@media screen and (max-width: 460px) {
    .wrapper {
        margin: 0% 20% 60% 22%;
        padding: 5% 15% 3% 15%;
    }

    .wrapper h1 {
        font-size: 5vw;
        text-align: center;
    }

    .wrapper .input-box {
        width: 180%;
        height: 100%;
        margin: 15% 100% 15% -39%;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        font-size: 2vw;
        padding: 6% 10% 6% 2%;
    }

    .input-box i {
        font-size: 50%;
        top: 50%;
    }

    .wrapper .remember-forgot {
        font-size: 2vw;
        margin: 5% -40% 5% -40%;
    }

    body {
        display: flex;
        flex-wrap: wrap;
    }

    .ustj img {
        width: 30%;
        margin-left: 32%;
        margin-top: 0%;
    }

    .ustj h1 {
        font-size: 5vw;
        font-weight: bold;
        margin: 0% 4% 0% 0%;
        padding: 0 0 0 0;
    }

    .ustj {
        margin: 20% 0 0 8%;
    }


}

@media screen and (max-width: 550px) {}

@media screen and (max-width: 800px) {}